[submodule "home/jasonz/repo/github.com/ohmyzsh/ohmyzsh"]
	path = home/jasonz/repo/github.com/ohmyzsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "home/jasonz/repo/github.com/tmux-plugins/tpm"]
	path = home/jasonz/repo/github.com/tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
