[user]
	email = ksdpmx@gmail.com
	name = jasonz
[core]
	editor = vim
    autocrlf = input
[color]
	ui = true
[credential]
	helper = cache
[alias]
    a = add
    ci = commit
    st = status
    pl = pull
    ps = push
[init]
	defaultBranch = main
[push]
    default = simple
